# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
env_django/

# Django stuff:
*.log
*.pot
*.py[cod]
db.sqlite3
*.sqlite3
/media/
staticfiles/
static/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

plc_api\collector_config.json